@model ReflectionIT.Mvc.Paging.PagingList<KontrolaPoc.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<div class="row">
    <h3 class="col">Lista de Clientes</h3>
    <div class="col input-group rounded">
        <form method="get" class="d-flex">
            <input name="filter" class="form-control rounded" placeholder="Pesquisar Cliente"
                   value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-outline-primary">
                <span class="glyphicon glyphicon-search" aria-hiden="true"></span> Procurar
            </button>
        </form>
    </div>
</div>

Total de clientes : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
<p>
    <a asp-action="Create" class="btn btn-success">Criar novo cliente</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF)
            </th>
            <th>
                Ações

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logradouro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UF)
                </td>
                <td>
                    <div class="btn-group-sm" role="group" aria-label="Exemplo básico">
                        <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@item.ClienteId">Editar</a>
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.ClienteId">Detalhes</a>
                        <a asp-action="Delete" class="btn btn-outline-info" asp-route-id="@item.ClienteId">Exluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
