@model ReflectionIT.Mvc.Paging.PagingList<KontrolaPoc.Models.Equipamento>

@{
    ViewData["Title"] = "Clientes";
}

<div class="row">
    <h3 class="col">Listar Equipamentos</h3>
    <div class="col input-group rounded">
        <form method="get" class="d-flex">
            <input name="filter" class="form-control rounded" placeholder="Pesquisar Cliente"
                   value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-outline-primary">
                <span class="glyphicon glyphicon-search" aria-hiden="true"></span> Procurar
            </button>
        </form>
    </div>
</div>


Total de clientes : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
<p>
    <a asp-action="Create" class="btn btn-success">Criar novo equipamento</a>
</p>
<table class="table  table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Potencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filial)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Potencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filial.Cliente.Nome)
                </td>
                <td>
                    <div class="btn-group-sm" role="group" aria-label="Exemplo básico">
                        <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@item.FilialId">Editar</a>
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.FilialId">Detalhes</a>
                        <a asp-action="Delete" class="btn btn-outline-info" asp-route-id="@item.FilialId">Exluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
