@model ChamadosListViewModel;

<h1>Lista de Chamados</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.Chamados)*@
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Chamados)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Chamados)*@
            </th>
            <th>
                <p>Alterações</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chamados) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFechamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
@*            <td>*@
@*                @Html.DisplayFor(modelItem => item.Modalidade.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gravidade.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgencia.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tendencia.Descricao)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChamadoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.ChamadoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
