@model ReflectionIT.Mvc.Paging.PagingList<KontrolaPoc.Models.Chamado>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <h3 class="col">Listar chamados</h3>
    <div class="col input-group rounded">
        <form method="get" class="d-flex">
            <input name="filter" class="form-control rounded" placeholder="Pesquisar Chamado"
                   value="@Model.RouteValue["Filter"]" />
            <button type="submit" class="btn btn-outline-primary">
                <span class="glyphicon glyphicon-search" aria-hiden="true"></span> Procurar
            </button>
        </form>
    </div>
</div>
Total de chamados : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
<p>
    <a asp-action="Create" class="btn btn-success">Novo chamado</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFechamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gravidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tendencia)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFechamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modalidade.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gravidade.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urgencia.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tendencia.Descricao)
                </td>
                <td>
                    <div class="btn-group-sm" role="group" aria-label="Exemplo básico">
                        <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@item.ChamadoId">Editar</a>
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.ChamadoId">Detalhes</a>
                        <a asp-action="Delete" class="btn btn-outline-info" asp-route-id="@item.ChamadoId">Exluir</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
